/obj/
wix/**/bin/
wix/**/obj/
.vs/
packages/
FFMPEG/
DLLS/managed/
bin/

# Readmes
Plugins/*
!Plugins/readme.txt
VLC64/*
!VLC64/readme.txt

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.GhostDoc.xml

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db