/obj/
Wix/**/bin/
Wix/**/obj/
.vs/
packages/
FFmpeg.AutoGen/bin/
FFmpeg.AutoGen/obj/
DLLS/managed/
[Bb]in/
[Dd]ebug*/
[Rr]elease*/

# Readmes
Plugins/*
!Plugins/readme.txt
VLC64/*
!VLC64/readme.txt

# Backup & report files from converting an old project file
# to a newer Visual Studio version. Backup files are not needed,
# because we have git ;-)
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.GhostDoc.xml

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb
*.bak
*.DotSettings

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db