<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DropNet" version="1.10.23.0" targetFramework="net4" />
  <package id="Google.Apis" version="1.9.0" targetFramework="net4" />
  <package id="Google.Apis.Auth" version="1.9.0" targetFramework="net4" />
  <package id="Google.Apis.Core" version="1.9.0" targetFramework="net4" />
  <package id="Google.Apis.Drive.v2" version="1.9.0.1760" targetFramework="net4" />
  <package id="Google.Apis.YouTube.v3" version="1.9.0.1410" targetFramework="net4" />
  <package id="log4net" version="2.0.3" targetFramework="net4" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net4" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net4" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net4" />
  <package id="Microsoft.Net.Http" version="2.2.22" targetFramework="net4" />
  <package id="NAudio" version="1.7.3" targetFramework="net4" />
  <package id="NAudio.Lame" version="1.0.3" targetFramework="net4" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net4" />
  <package id="RestSharp" version="105.0.1" targetFramework="net4" />
  <package id="SharpDX" version="2.6.3" targetFramework="net4" />
  <package id="SharpDX.DirectInput" version="2.6.3" targetFramework="net4" />
  <package id="Zlib.Portable" version="1.11.0" targetFramework="net4" />
  <package id="Zlib.Portable.Signed" version="1.11.0" targetFramework="net4" />
</packages>