<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.1" targetFramework="net40" />
  <package id="FFmpeg.AutoGen" version="4.0.0.2" targetFramework="net45" />
  <package id="FlickrNet" version="3.24.0" targetFramework="net45" />
  <package id="Google.Apis" version="1.32.1" targetFramework="net45" />
  <package id="Google.Apis.Auth" version="1.32.1" targetFramework="net45" />
  <package id="Google.Apis.Core" version="1.32.1" targetFramework="net45" />
  <package id="Google.Apis.Drive.v3" version="1.32.1.1107" targetFramework="net45" />
  <package id="Google.Apis.YouTube.v3" version="1.32.1.1079" targetFramework="net45" />
  <package id="log4net" version="2.0.8" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net45" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net4" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net45" />
  <package id="nVLC" version="3.0.0" targetFramework="net45" />
  <package id="RestSharp" version="105.2.3" targetFramework="net45" />
  <package id="SharpDX" version="4.0.1" targetFramework="net45" />
  <package id="SharpDX.DirectInput" version="4.0.1" targetFramework="net45" />
  <package id="System.Net.Http" version="4.3.3" targetFramework="net45" />
  <package id="Zlib.Portable" version="1.11.0" targetFramework="net4" />
  <package id="Zlib.Portable.Signed" version="1.11.0" targetFramework="net45" />
</packages>