<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <?include "config.wxi"?>
  <Product Id="*" Name="iSpy (64 bit)" Language="1033" Version="!(bind.fileVersion.iSpy.exe)" Manufacturer="DeveloperInABox" UpgradeCode="70D791FD-67B0-444B-BDC1-ADF592557E88">
    <Package InstallerVersion="405" Compressed="yes" InstallScope="perMachine" Manufacturer="DeveloperInABox" Platform="x64" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of iSpy is already installed." AllowDowngrades="no" />
    <MediaTemplate EmbedCab="yes" />
    
    <Binary Id="WixCA.CA.dll" src="..\WixCA\bin\$(var.Configuration)\WixCA.CA.dll" />
    <Property Id='CONFIGFILELOCATION' Value='[SourceDir]' />
    <CustomAction Id="SetProperty" Execute="immediate"
                        Property="CA_myCustomAction"
                        Value="InstallDir=[MergeRedirectFolder];SourceDir=[CONFIGFILELOCATION]" />
    <CustomAction Id="CA_myCustomAction"
        BinaryKey="WixCA.CA.dll"
        DllEntry="CopyCustomisationFiles"
        Execute="deferred" Impersonate="no"
        Return="check" />

    <InstallExecuteSequence>
      <Custom Action="SetProperty" After="CreateFolders">Not Installed</Custom>
      <Custom Action="CA_myCustomAction" Before="InstallFinalize">Not Installed</Custom>
    </InstallExecuteSequence>
    
    <Feature Id="ProductFeature" Title="iSpy (64 bit)" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="XML" />
      <ComponentGroupRef Id="ispyserver" />
      <ComponentGroupRef Id="backgrounds" />
      <ComponentGroupRef Id="plugins" />
      <ComponentGroupRef Id="sounds" />
      <ComponentGroupRef Id="webserverroot" />
      <ComponentGroupRef Id="data" />
      <ComponentGroupRef Id="vlc64"/>
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="ApplicationShortcutDesktop" />
    </Feature>
    <Feature Id="VCRedist" Title="Visual C++ 10.0 Runtime" AllowAdvertise="no" Display="hidden" Level="1">
      <MergeRef Id="VCRedist" />
    </Feature>
    <WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\license.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="$(var.ProjectDir)\banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="$(var.ProjectDir)\dialog.bmp" />
    <UI>
      <UIRef Id="WixUI_InstallDir" />
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg" Order="2">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">1</Publish>
      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
    </UI>
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch iSpy (64 bit)" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1" />
    <Property Id="WixShellExecTarget" Value="[#iSpy.exe]" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />
    <PropertyRef Id="WIX_IS_NETFRAMEWORK_40_OR_LATER_INSTALLED" />
    <Condition Message="This application requires .NET Framework 4. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR WIX_IS_NETFRAMEWORK_40_OR_LATER_INSTALLED]]>
    </Condition>
    <Icon Id="icon.ico" SourceFile="$(var.OutputDir)\ispy.ico" />
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="iSpy" />
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop"></Directory>
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="ParentFolder" Name="iSpy">
          <Directory Id="INSTALLFOLDER" Name="iSpy">
            <Directory Id="XML" Name="XML" />
            <Directory Id="WebServerRoot" Name="WebServerRoot">
              <Directory Id="Data" Name="data" />
            </Directory>
            <Directory Id="Sounds" Name="Sounds" />
            <Directory Id="Plugins" Name="Plugins" />
            <Directory Id="iSpyServer" Name="iSpyServer" />
            <Directory Id="Backgrounds" Name="Backgrounds" />
            <Directory Id="VLC64" Name="VLC64" />
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="{8370BFF0-35AF-4032-B4B4-06E2C4D91EB6}">
        <Shortcut Id="ApplicationStartMenuShortcut" Name="iSpy (64 bit)" Description="iSpy Video Surveillance Software" Target="[INSTALLFOLDER]iSpy.exe" WorkingDirectory="INSTALLFOLDER" />
        <Shortcut Id="ResetProduct" Name="iSpy (64 bit) Reset" Description="iSpy Video Surveillance Software" Target="[INSTALLFOLDER]iSpy.exe" WorkingDirectory="INSTALLFOLDER" Arguments="-reset" />
        <Shortcut Id="SilentStart" Name="iSpy (64 bit) Silent Start" Description="iSpy Video Surveillance Software" Target="[INSTALLFOLDER]iSpy.exe" WorkingDirectory="INSTALLFOLDER" Arguments="-silent" />
        <Shortcut Id="UninstallProduct" Name="Uninstall iSpy (64 bit)" Description="Uninstalls iSpy" Target="[SystemFolder]msiexec.exe" Arguments="/x [ProductCode]"/>
        <RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\iSpy" Name="installed" Type="integer" Value="1" KeyPath="yes" />
        <RegistryValue Root="HKCU" Key="Software\iSpy" Name="firstrun" Type="integer" Value="1" KeyPath="no" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="DesktopFolder">
      <Component Id="ApplicationShortcutDesktop" Guid="{E8D23A43-1A37-4F26-8C4C-962FADB68BCF}">
        <Shortcut Id="ApplicationDesktopShortcut" Name="iSpy (64 bit)" Description="iSpy Video Surveillance Software" Target="[INSTALLFOLDER]iSpy.exe" WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="RemoveDesktopFolder" Directory="DesktopFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\iSpy64" Name="desktopsc" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="TARGETDIR">
      <Merge Id="VCRedist" SourceFile="C:\Program Files (x86)\Common Files\Merge Modules\Microsoft_VC100_CRT_x64.msm" DiskId="1" Language="0" />
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Win64="yes" Id="Component1" Guid="{B5528455-B6B5-426D-B5FB-5BB98634B563}">
        <File Id="AForge.dll" Source="$(var.OutputDir)\AForge.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component2" Guid="{757CA3EE-79F7-4FBC-B8B9-2F9938F5173D}">
        <File Id="AForge.Imaging.dll" Source="$(var.OutputDir)\AForge.Imaging.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component4" Guid="{53409E93-D31D-4A0C-8F86-937EB6D76F45}">
        <File Id="AForge.Math.dll" Source="$(var.OutputDir)\AForge.Math.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component9" Guid="{E961B54A-BB52-4BBF-B885-39C884635EF8}">
        <File Id="avcodec56.dll" Source="$(var.OutputDir)\avcodec-56.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component10" Guid="{E9EAA5BE-A77D-4FA1-A590-6B6CFAC9E8D0}">
        <File Id="avdevice56.dll" Source="$(var.OutputDir)\avdevice-56.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component11" Guid="{75D8679A-81D2-4D6E-AF0C-803B7E84DB05}">
        <File Id="avfilter5.dll" Source="$(var.OutputDir)\avfilter-5.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component12" Guid="{ECF19BB4-3BA5-4AB2-9CA6-D0C361BC827E}">
        <File Id="avformat56.dll" Source="$(var.OutputDir)\avformat-56.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component13" Guid="{0DE5BA50-A720-40F0-A04B-F0379845707D}">
        <File Id="avutil54.dll" Source="$(var.OutputDir)\avutil-54.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component14" Guid="{C39132EF-0032-4CF9-9F34-C03BB4BCD690}">
        <File Id="DropNet.dll" Source="$(var.OutputDir)\DropNet.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component15" Guid="{8A5AA74F-8654-4E41-A3AF-9D419FB090BE}">
        <File Id="ffmpeg.exe" Source="$(var.OutputDir)\ffmpeg.exe" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component16" Guid="{67A069D8-B640-4F70-BAB6-DAE8B8224AA0}">
        <File Id="ffplay.exe" Source="$(var.OutputDir)\ffplay.exe" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component17" Guid="{531AD858-658C-4022-BCE7-83E2B051C2FC}">
        <File Id="ffprobe.exe" Source="$(var.OutputDir)\ffprobe.exe" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component18" Guid="{DD43A487-0BF6-45C7-BED3-744589E5E1F3}">
        <File Id="FSharp.Core.dll" Source="$(var.OutputDir)\FSharp.Core.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component20" Guid="{9BD01A53-7552-495F-8AA9-33FCF67E17CF}">
        <File Id="Google.Apis.Auth.dll" Source="$(var.OutputDir)\Google.Apis.Auth.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component22" Guid="{8ED45890-2D58-494C-880C-3FDB5912A1D0}">
        <File Id="Google.Apis.Auth.PlatformServices.dll" Source="$(var.OutputDir)\Google.Apis.Auth.PlatformServices.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component26" Guid="{1CB17EED-ADEF-4363-B86D-8766B3DE42C9}">
        <File Id="Google.Apis.Core.dll" Source="$(var.OutputDir)\Google.Apis.Core.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component29" Guid="{5C576B60-7630-472C-A324-72B1779A84B5}">
        <File Id="Google.Apis.dll" Source="$(var.OutputDir)\Google.Apis.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component30" Guid="{C4530949-2AF3-4406-ACCF-04DA998EEA68}">
        <File Id="Google.Apis.Drive.v2.dll" Source="$(var.OutputDir)\Google.Apis.Drive.v2.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component34" Guid="{10173057-F98D-4581-8913-284BCE57D9B7}">
        <File Id="Google.Apis.PlatformServices.dll" Source="$(var.OutputDir)\Google.Apis.PlatformServices.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component38" Guid="{29F390C3-8C63-4E40-A155-AB18756766C9}">
        <File Id="Google.Apis.YouTube.v3.dll" Source="$(var.OutputDir)\Google.Apis.YouTube.v3.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component41" Guid="{3CD35CC0-FECA-43EC-9B29-8B09156FCD39}">
        <File Id="iSpy.exe" Source="$(var.OutputDir)\iSpy.exe" KeyPath="yes" Checksum="yes" />
        <File Id="ispy.ico" Source="$(var.OutputDir)\ispy.ico" Checksum="yes" />
        <ProgId Id="iSpyFileType" Description="iSpy Object List" Icon="ispy.ico">
          <Extension Id="ispy" ContentType="text/xml">
            <Verb Id="open" Command="Open" TargetFile="iSpy.exe" Argument="open %1" />
          </Extension>
        </ProgId>
      </Component>
      <Component Win64="yes" Id="Component42" Guid="{A54AB56A-43EC-4D57-90F5-7C9E975ADC34}">
        <File Id="iSpy.exe.config" Source="$(var.OutputDir)\iSpy.exe.config" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component44" Guid="{B3EED389-49FD-4BCA-A2C2-294B855147CF}">
        <File Id="iSpy.Video.FFMPEG.dll" Source="$(var.OutputDir)\iSpy.Video.FFMPEG.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component47" Guid="{DE5EA5DC-A0D8-4DD3-B519-A8D6AB36F9E6}">
        <File Id="iSpy.XmlSerializers.dll" Source="$(var.OutputDir)\iSpy.XmlSerializers.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component49" Guid="{666343AD-4387-4D62-8347-02ADC425A220}">
        <File Id="libmp3lame.64.dll" Source="$(var.OutputDir)\libmp3lame.64.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component50" Guid="{9340572F-CCDC-472D-A448-CD03FFCDDA88}">
        <File Id="log4net.dll" Source="$(var.OutputDir)\log4net.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component52" Guid="{8848FFE3-A490-45C7-ADC3-17A4DD027393}">
        <File Id="Microsoft.Kinect.dll" Source="$(var.OutputDir)\Microsoft.Kinect.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component53" Guid="{78E47B1F-59EA-49DB-836F-52EFD20BEDF5}">
        <File Id="Microsoft.Threading.Tasks.dll" Source="$(var.OutputDir)\Microsoft.Threading.Tasks.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component54" Guid="{F3AE6E8D-9266-4898-B4EF-7E32F063A516}">
        <File Id="Microsoft.Threading.Tasks.Extensions.Desktop.dll" Source="$(var.OutputDir)\Microsoft.Threading.Tasks.Extensions.Desktop.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component56" Guid="{229C3F21-2664-4038-86E4-0994BD817405}">
        <File Id="Microsoft.Threading.Tasks.Extensions.dll" Source="$(var.OutputDir)\Microsoft.Threading.Tasks.Extensions.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component59" Guid="{54A83331-BA20-41F5-9706-F71916CAE3EC}">
        <File Id="NAudio.dll" Source="$(var.OutputDir)\NAudio.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component60" Guid="{8703CD2E-C993-4488-A871-221CB9A86FC2}">
        <File Id="NAudio.Lame.dll" Source="$(var.OutputDir)\NAudio.Lame.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component62" Guid="{DB50E196-1CC4-41AA-936E-6DE420158862}">
        <File Id="Newtonsoft.Json.dll" Source="$(var.OutputDir)\Newtonsoft.Json.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component64" Guid="{5278D2A1-F218-4D52-A762-34678BBDDAF3}">
        <File Id="NSpeex.dll" Source="$(var.OutputDir)\NSpeex.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component65" Guid="{5DA5D4E3-1BE1-4B26-BF68-F91D6643990E}">
        <File Id="nVLC.Declarations.dll" Source="$(var.OutputDir)\nVLC.Declarations.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component66" Guid="{FFA19B28-2CD6-46E5-87B6-11C20A59EBC7}">
        <File Id="nVLC.Implementation.dll" Source="$(var.OutputDir)\nVLC.Implementation.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component67" Guid="{8D957F94-CD3C-4708-8390-CE2F4279AF99}">
        <File Id="nVLC.LibVlcWrapper.dll" Source="$(var.OutputDir)\nVLC.LibVlcWrapper.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component68" Guid="{F1F4F592-C215-46B3-995C-F3AF4E5BDBE4}">
        <File Id="onvif.discovery.dll" Source="$(var.OutputDir)\onvif.discovery.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component69" Guid="{F868EEEC-281A-4773-9248-68DABA9B2A1B}">
        <File Id="onvif.services.dll" Source="$(var.OutputDir)\onvif.services.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component70" Guid="{2E0B72C3-8C07-44BD-BC10-0C2EED8AEAE7}">
        <File Id="onvif.session.dll" Source="$(var.OutputDir)\onvif.session.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component71" Guid="{A76BE87C-2F59-4034-B797-8A8E6FD78CEE}">
        <File Id="onvif.utils.dll" Source="$(var.OutputDir)\onvif.utils.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component72" Guid="{BAD2B587-2766-4689-81B7-FDF3C9D59F06}">
        <File Id="postproc53.dll" Source="$(var.OutputDir)\postproc-53.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component73" Guid="{76C2C908-ABFF-42BB-B3E6-E81E75FB652A}">
        <File Id="Renci.SshNet.dll" Source="$(var.OutputDir)\Renci.SshNet.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component74" Guid="{A5CBEBC7-83D0-4510-AD04-150010DDBAF2}">
        <File Id="Renderers.dll" Source="$(var.OutputDir)\Renderers.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component75" Guid="{531A4203-9F32-402E-8D4B-D71BCF41CF50}">
        <File Id="RestSharp.dll" Source="$(var.OutputDir)\RestSharp.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component77" Guid="{7E8C8B46-4622-470B-BF88-B2B7D17D33EA}">
        <File Id="SharpDX.DirectInput.dll" Source="$(var.OutputDir)\SharpDX.DirectInput.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component79" Guid="{9FEF9F63-9503-4B91-8B2A-2679C9B52254}">
        <File Id="SharpDX.dll" Source="$(var.OutputDir)\SharpDX.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component81" Guid="{7D75A176-1690-4AAA-85D6-6F272A51F58C}">
        <File Id="swresample1.dll" Source="$(var.OutputDir)\swresample-1.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component82" Guid="{DC18BCDF-61C5-4046-A686-91115440C578}">
        <File Id="swscale3.dll" Source="$(var.OutputDir)\swscale-3.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component83" Guid="{5A62D7E0-4C20-498E-91E2-F7C2DE6A8093}">
        <File Id="System.IO.dll" Source="$(var.OutputDir)\System.IO.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component85" Guid="{63604837-2EAD-42D6-998F-689192E1E015}">
        <File Id="System.Net.Http.dll" Source="$(var.OutputDir)\System.Net.Http.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component86" Guid="{E459F489-6193-419C-A124-56EF78C29383}">
        <File Id="System.Net.Http.Extensions.dll" Source="$(var.OutputDir)\System.Net.Http.Extensions.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component88" Guid="{E343ED31-E563-4DE6-812B-2E636F0719F5}">
        <File Id="System.Net.Http.Primitives.dll" Source="$(var.OutputDir)\System.Net.Http.Primitives.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component90" Guid="{6B16C0FE-2D5D-4224-9922-AEA5ABDA54BE}">
        <File Id="System.Net.Http.WebRequest.dll" Source="$(var.OutputDir)\System.Net.Http.WebRequest.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component93" Guid="{F72087BC-4DC9-40F0-BFDE-36F50C44EEA3}">
        <File Id="System.Reactive.Core.dll" Source="$(var.OutputDir)\System.Reactive.Core.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component94" Guid="{5BC8B0A1-920D-40AB-AF51-0D917B285333}">
        <File Id="System.Reactive.Interfaces.dll" Source="$(var.OutputDir)\System.Reactive.Interfaces.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component95" Guid="{1920B205-978C-4FD1-8150-54F99812BCBA}">
        <File Id="System.Reactive.Linq.dll" Source="$(var.OutputDir)\System.Reactive.Linq.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component96" Guid="{F7D2D279-5F55-40B1-BE11-0025493822FE}">
        <File Id="System.Runtime.dll" Source="$(var.OutputDir)\System.Runtime.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component98" Guid="{7DFC8DA8-E789-4AA2-A14A-1DADDCADC325}">
        <File Id="System.Threading.Tasks.dll" Source="$(var.OutputDir)\System.Threading.Tasks.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component100" Guid="{A8C063DC-04EB-47E2-9212-4C319D601E80}">
        <File Id="utils.common.dll" Source="$(var.OutputDir)\utils.common.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component101" Guid="{FE36E85E-EA48-4FA8-BF7E-6D735479973E}">
        <File Id="utils.diagnostics.dll" Source="$(var.OutputDir)\utils.diagnostics.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component102" Guid="{6CBB9E37-1C9D-42D7-B262-ACB99F274A36}">
        <File Id="utils.fsharp.dll" Source="$(var.OutputDir)\utils.fsharp.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component103" Guid="{B88FD1C4-F76F-4C05-BF49-224FE89C28B9}">
        <File Id="Windows7ToolStripRenderer.dll" Source="$(var.OutputDir)\Windows7ToolStripRenderer.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component104" Guid="{63BD2242-69E0-4EEF-86D2-F72A1BDF962B}">
        <File Id="xiApi.NET.dll" Source="$(var.OutputDir)\xiApi.NET.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component105" Guid="{1DC808FD-C046-48DB-981C-08E93007372E}">
        <File Id="Zlib.Portable.dll" Source="$(var.OutputDir)\Zlib.Portable.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Monitor" Guid="{DCD36025-048D-4144-9A62-3A03413CF758}">
        <File Id="ispymonitor" Source="D:\Projects\iSpy\iSpyMonitor\bin\Release\iSpyMonitor.exe" KeyPath="yes" Checksum="yes" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="XML" Directory="XML">
      <Component Win64="yes" Id="Component126" Guid="{8E75702E-8457-4982-B99C-E140A0D5B430}">
        <File Id="config.xml" Source="$(var.OutputDir)\XML\config.xml" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component127" Guid="{B89C73E7-2E5A-4ADB-9B01-52C204F02D39}">
        <File Id="Log.txt" Source="$(var.OutputDir)\XML\Log.txt" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component128" Guid="{CB8274E7-2FF2-4210-985F-233396279719}">
        <File Id="objects.xml" Source="$(var.OutputDir)\XML\objects.xml" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component129" Guid="{6A13B8AB-4A7E-42DC-A879-6F9A45474FB1}">
        <File Id="PTZ2.xml" Source="$(var.OutputDir)\XML\PTZ2.xml" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component130" Guid="{3B2AE5AF-F8C6-4DE2-A4CF-59C55E8F6FC5}">
        <File Id="Sources.xml" Source="$(var.OutputDir)\XML\Sources.xml" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component131" Guid="{519CB7CE-645D-4235-9CDE-2DFC4B5F70FC}">
        <File Id="Translations.xml" Source="$(var.OutputDir)\XML\Translations.xml" KeyPath="yes" Checksum="yes" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="ispyserver" Directory="iSpyServer">
      <Component Win64="yes" Id="iSpyServer" Guid="{CF42C96F-478F-4DEB-BF0B-D456CA88A742}">
        <File Id="ispyserver" Source="D:\Projects\iSpy\iSpyServerSetup\Release\iSpyServerSetup.msi" KeyPath="yes" Checksum="yes" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="backgrounds" Directory="Backgrounds">
      <Component Win64="yes" Id="Component107" Guid="{09FE81AB-A6A1-444D-80C3-9068E11E57B7}">
        <File Id="demo_mask.png" Source="$(var.OutputDir)\backgrounds\demo_mask.png" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component108" Guid="{08DB3B3C-E483-4ABA-9B4D-8489D6A0F146}">
        <File Id="FloorPlan_House.jpg" Source="$(var.OutputDir)\backgrounds\FloorPlan_House.jpg" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component109" Guid="{DFB35626-A60A-4EF9-8FE5-677A445CD382}">
        <File Id="FloorPlan_House2.jpg" Source="$(var.OutputDir)\backgrounds\FloorPlan_House2.jpg" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component110" Guid="{9428B3AE-7E8D-4338-AFB7-E0204E0E5E07}">
        <File Id="FloorPlan_Planet.jpg" Source="$(var.OutputDir)\backgrounds\FloorPlan_Planet.jpg" KeyPath="yes" Checksum="yes" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="plugins" Directory="Plugins">
      <Component Win64="yes" Id="CompPluginReadme" Guid="{48eb36a2-a085-4bc3-83d6-fc29a9dd671c}">
        <File Id="plugin_readme.txt" Source="$(var.OutputDir)\Plugins\readme.txt" KeyPath="yes" Checksum="yes" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="sounds" Directory="Sounds">
      <Component Win64="yes" Id="Component111" Guid="{98513797-E5E0-4F23-9C32-D42A56225BEF}">
        <File Id="airhorn.wav" Source="$(var.OutputDir)\sounds\airhorn.wav" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component112" Guid="{F4383BE3-A460-4976-8B73-1FD0105D41ED}">
        <File Id="alarm.wav" Source="$(var.OutputDir)\sounds\alarm.wav" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component113" Guid="{28BE7C2C-7E4E-4F22-BC51-0CB6C22C7782}">
        <File Id="alsationxsiberian_bark.wav" Source="$(var.OutputDir)\sounds\alsationxsiberian_bark.wav" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component114" Guid="{56AED2AE-0E45-46C9-BE79-B69039C8F936}">
        <File Id="alsation_bark.wav" Source="$(var.OutputDir)\sounds\alsation_bark.wav" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component115" Guid="{A86F7466-7791-45E3-8751-C46508364D7F}">
        <File Id="cairnterrierbark.wav" Source="$(var.OutputDir)\sounds\cairnterrierbark.wav" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component116" Guid="{C673B60B-E3EC-4401-9B01-854ED8A0730A}">
        <File Id="doorbell.wav" Source="$(var.OutputDir)\sounds\doorbell.wav" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component117" Guid="{E999786A-F255-4CA9-AFF3-A4B91B00D045}">
        <File Id="police.wav" Source="$(var.OutputDir)\sounds\police.wav" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component118" Guid="{4E0E8F3E-4A4E-46F4-AA13-F54C5B768618}">
        <File Id="pop.wav" Source="$(var.OutputDir)\sounds\pop.wav" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component119" Guid="{BE908B9D-6F85-4C12-A7CC-907ABCEADBFA}">
        <File Id="rottweiler_bark.wav" Source="$(var.OutputDir)\sounds\rottweiler_bark.wav" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component120" Guid="{589DF0C8-54DE-441B-9BB4-4C3C2A56F71D}">
        <File Id="spanielgrowlbark.wav" Source="$(var.OutputDir)\sounds\spanielgrowlbark.wav" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component121" Guid="{7F450B20-6565-41C4-B62A-CC366F57F32D}">
        <File Id="wiggle.wav" Source="$(var.OutputDir)\sounds\wiggle.wav" KeyPath="yes" Checksum="yes" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="webserverroot" Directory="WebServerRoot">
      <Component Win64="yes" Id="Component122" Guid="{A13DDE4F-31B6-461F-B3B4-F8ABF690333A}">
        <File Id="crossdomain.xml" Source="$(var.OutputDir)\webserverroot\crossdomain.xml" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component123" Guid="{663614E3-14EF-4D44-BD83-47F7E73F2F53}">
        <File Id="favicon.ico" Source="$(var.OutputDir)\webserverroot\favicon.ico" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="yes" Id="Component125" Guid="{5B51CF60-3290-4CF0-BD3A-50BB20A7AE4E}">
        <File Id="notfound.jpg" Source="$(var.OutputDir)\webserverroot\notfound.jpg" KeyPath="yes" Checksum="yes" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="data" Directory="Data">
      <Component Win64="yes" Id="Component132" Guid="{E216B6CF-E7BB-490F-80F7-00EEBFCE4C35}">
        <File Id="mime.dat" Source="$(var.OutputDir)\webserverroot\data\mime.dat" KeyPath="yes" Checksum="yes" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="vlc64" Directory="VLC64">
      <Component Win64="yes" Id="Component133" Guid="{1292fcac-862f-4a3c-be6e-f42af2565cc1}">
        <File Id="vlc_readme.txt" Source="$(var.OutputDir)\VLC64\readme.txt" KeyPath="yes" Checksum="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>


</Wix>