<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KinectPlugin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IKinectedCareService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://kinectwcf.18signals.com/KinectedCareService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IKinectedCareService"
                contract="KService.IKinectedCareService" name="BasicHttpBinding_IKinectedCareService" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <KinectPlugin.Properties.Settings>
            <setting name="KinectPlugin_VersaBadge_VersaBadge" serializeAs="String">
                <value>http://www.versabadge.com/versabadge_prod/webservices/versabadge.asmx</value>
            </setting>
        </KinectPlugin.Properties.Settings>
    </applicationSettings>
</configuration>